body {
    margin: 0;
    padding-top: 10%;
}

.error {
    font-size: medium;
    color: red;
    border: 1px solid red;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
}

.login_form {
    margin: auto;
    width: 30%;
    padding: 10px;
    text-align: center;
}

.login_form a {
    margin-bottom: 5px;
}

.login_form p {
    font-size: x-large;
    margin-top: 2px;
    margin-bottom: 0;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.25;
}

.login_form button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 8px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login_form input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.fixed-header {
    width: 100%;
    position: fixed;
    background: #e2e2e2;
    padding: 10px 0;
    color: #fff;
    top: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    background-color: transparent;
    width: 64px;
    height: 64px;
}

nav a{
    color: #4b4b4b;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
    font-size: 18pt;
}

nav a, img {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.25;
}

.logout_container {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.25;
    float: right;
    padding: 7px 25px;
}

.logout_container button {
    padding: 7px 25px;
    background-color: #1c47ff;
    border-radius: 10px;
    color: white;
    margin-top: 8px;
    border: none;
    cursor: pointer;
    height: 100%;
}

.logout_container a {
    font-size: 15pt;
}

.logout_container form {
    margin: auto;
    display: contents;
}

.main-menu {
    margin: auto;
    width: 80%;
    text-align: center;
    padding: 20px;
}

.main-menu button {
    width: 100%;
    height: 15%;
    padding: 14px 20px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #e2e2e2;
    font-size: 15pt;
}

.main-menu button:hover {
    background-color: rgba(34,76,255,0.55);
}

.main-menu button:focus {
    outline: none;
}

.table-style {
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    margin: auto;
    width: 80%;
}

.table-style th {
    background: #BCEBDD;
    color:  #4b4b4b;
    text-shadow: 0 1px 1px white;
    padding: 10px 20px;
}

.table-style th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

.table-style td {
    padding: 10px 20px;
}

.table-style tr {
    background: #F8E391;
}

.row-choice:hover {
    color: white;
    background: rgba(34,76,255,0.82)
}

.row-choosen {
    color: white;
    background: rgba(34,76,255,0.82)
}

.table-style th:first-child, td:first-child {
    text-align: left;
}

.table-style th:first-child {
    border-top-left-radius: 10px;
}

.table-style th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

.table-style tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

.table-style tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

.table-style tr td:last-child {
    border-right: none;
}

.button-container {
    width: 300px;
    margin-left: 10%;
    margin-top: 10px;
    padding: 10px;
}

.button-container button{
    border-radius: 10px;
    font-size: 14pt;
    width: 45%;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 5px;
    margin-left: 5px;
}

.add-button {
    background-color: #1c47ff;
    border: none;
    cursor: pointer;
    color: white;
}

.delete-button {
    background-color: darkred;
    border: none;
    cursor: pointer;
    color: white;
}

.delete-button:focus {
    outline: none;
}

.add-button:focus {
    outline: none;
}

.add-dialog dialog{
    border-radius: 10px;
    border: 5px #4b4b4b;
    padding: 5px;
}


.add-dialog input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.add-dialog form {
    text-align: center;
}

.add-dialog label {
    display: flex;
    background: #e2e2e2;
    padding: 5px;
}


.label-text {
    margin: auto;
    width: 20%;
    color: #4b4b4b;
}

.dialog-panel button{
    display: inline-block;
    padding: 10px;
    float: right;
    font-size: 20pt;
    cursor: pointer;
    color: #4b4b4b;
    background-color: transparent;
    border: none;
}

.dialog-panel button:focus {
    outline: none;
}

.dialog-panel button:hover {
    color: rgba(34,76,255,0.74);
}

.dialog-panel p {
    display: inline-block;
    font-size: 18pt;
    padding: 10px;
    margin: 0;
}

.modal-button-container button{
    border-radius: 10px;
    font-size: 14pt;
    display: inline-block;
    box-sizing: border-box;
    margin: 5px;
    float: right;
}

.modal.button-container {
    padding: 10px;
}

.input-error {
    color: red;
    border: 1px solid red;
}

.search-container form {
    display: inline-block;
    margin-block-end: auto;
    margin: 5px;
}

.search-input {
    width: 85%;
}

.search-input input {
    padding: 3px;
    display: inline-block;
    width: 80%;
}

.search-input button {
    display: inline-block;
    width: 10%;
    margin-left: 10px;
    padding: 3px;
}

.search-reset {
    width: 10%;
}

.search-reset button {
    margin: auto;
    width: 100%;
    padding: 3px;
}

.order-container form p {
    margin-block-end: auto;
    margin-block-start: auto;
    float: left;
}